* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: tex_gyre_regular, Arial, sans-serif;
    font-size: 1em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
}

a:link {
    text-decoration: none;
    outline: none;
    /*color: #333;*/
}

a:visited {
    text-decoration: none;
    outline: none;
    /*color: #333;*/
}

a:hover {
    text-decoration: none;
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

main, footer, header, article, section, aside, figure, figcaption, hgroup, menu, nav, details, summary {
    display: block;
}

audio, video, canvas, progress {
    vertical-align: baseline;
    display: inline-block;
}


html, body, .page {
    height: 100%;
    display: block;
}

.center {
    min-height: 100%;
    position: relative;
    padding-bottom: 80px;
}

footer {
    position: relative;
    height: 80px;
    margin-top: -75px;
    border-top: 1px solid #249;
}

header {
    height: 80px;
    margin-bottom: 40px;
    border-bottom: 1px solid #249;
    text-align: center;
    padding-top: 20px;
}

header h2 {
    font-weight: normal;
    font-size: 30px;
    user-select: none;
}

.center-block {
    max-width: 1250px;
    margin: 0 auto;
}

.login-form {
    padding-top: 50px;
}

.login-page h1 {
    font-size: 30px;
    display: block;
    padding-bottom: 40px;
}

.login-form label {
    display: block;
    padding: 15px 0;
}

.login-form button, .search-form-button, .high-panel-main-page, .high-panel-login, .high-panel-logout, .high-panel-admin, .standart-button {
    font-size: 18px;
    background: transparent;
    border: 1px solid #249;
    transition: all 0.15s;
    color: #249;
    cursor: pointer;
    padding: 8px 30px;
}

.login-form button {
    display: inline-block;
    margin-top: 40px;
}

.login-form button:hover, .search-form-button:hover, .high-panel-main-page:hover, .high-panel-login:hover, .high-panel-admin:hover, .standart-button:hover {
    background: #249;
    color: #fff;
}

.login-form input {
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    min-width: 180px;
    font-size: 15px;
}

.search-form {
    padding: 30px 0;
    text-align: center;
}

.search-form-field {
    display: inline-block;
    margin: 0 30px;
}

.search-form-field-input, .ingredient-manage-field-input, .dish-manage-field-input {
    padding: 7px 12px;
    font-size: 13px;
    border: 1px solid #333;
    border-radius: 3px;
}

.search-form-button, .ingredient-manage-button {
    display: block;
    margin: 40px auto 0;
    position: relative;
}

.high-panel {
    padding: 5px 0 30px;
    position: relative;
    text-align: center;
    min-height: 75px;
}

.high-panel-main-page, .high-panel-login, .high-panel-logout, .high-panel-admin {
    display: inline-block;
}

.high-panel-main-page {
    position: absolute;
    top: 5px;
    left: 0;
}

.high-panel-login, .high-panel-logout {
    position: absolute;
    top: 5px;
    right: 0;
}

.high-panel-logout {
    border: 1px solid #933;
    color: #942;
}

.high-panel-logout:hover {
    background: #933;
    color: #fff;
}

.admin-main-container {
    margin-top: 30px;
    position: relative;
}

.admin-dish-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
}

.admin-dish-list h3, .admin-ingredient-list h3 {
    font-weight: normal;
    font-size: 20px;
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

.admin-ingredient-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
}

.admin-dish-add-button, .admin-ingredient-add-button {
    display: block;
    margin: 30px auto 0;
    max-width: 250px;
    text-align: center;
    position: relative;
}

.admin-grid-container {
    min-height: 400px;
}

.admin-grid-table {
    width: 100%;
}

.admin-grid-table td, .admin-grid-table th {
    padding: 4px 6px;
    border: 1px solid #ccc;
}

.admin-grid-table a {
    color: #777;
}

.admin-grid-summary {
    padding-bottom: 10px;
    font-size: 15px;
}

.admin-grid-id-param {
    text-align: center;
}

td.admin-grid-name-param {
    padding-left: 10px;
}

.admin-grid-hidden-param {
    color: #777;
    text-align: center;
}

.grid-table-button {
    margin: 0 3px;
}

.catalog-tile-pager {
    padding-top: 15px;
    text-align: center;
}

.catalog-tile-pager > ul {
    list-style-type: none;
}

.catalog-tile-pager > ul > li {
    display: inline-block;
    margin: 0 5px;
}

.catalog-tile-pager > ul > li > a, .catalog-tile-pager > ul > li > span {
    display: block;
    padding: 2px 6px;
    border: 1px solid #249;
    color: #249;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.catalog-tile-pager > ul > li > a:hover {
    background: #249;
    color: #fff;
}


.ingredient-manage-form {
    padding-top: 40px;
}

.ingredient-manage-form-field {
    margin: 0 auto 30px;
    display: block;
    text-align: center;
}

.ingredient-manage-form-field .help-block, .dish-manage-field-input .help-block, .login-form .help-block {
    padding-top: 10px;
    font-size: 14px;
    color: #b55;
    user-select: none;
}

.ingredient-manage-form label {
    display: block;
    padding: 15px 0;
}

.ingredient-manage-field-input {
    width: 250px;
}

.ingredient-manage-field-checkbox {
    margin-right: 6px;
}

.admin-message {
    text-align: center;
    color: #249;
    font-size: 18px;
    width: 500px;
    margin: 0 auto;
    min-height: 50px;
}

.index-message-block {
    padding-top: 30px;
    text-align: center;
    user-select: none;
    color: #249;
}

.index-search-results {
    display: table;
    position: relative;
    margin: 20px auto 0;
    width: 600px;
}

.index-search-results tr {
    display: inline-block;
    background: #f3f3f3;
    margin-top: 25px;
    width: 100%;
    border-radius: 4px;
}

.index-search-results td {
    display: table-cell;
    padding: 14px 18px;
}    

.index-search-results td.ingredient-list {
    padding-left: 20px;
    color: #249;
}

.dish-manage-container {
    /*padding-top: 30px;*/
    position: relative;
    width: 800px;
    margin: 40px auto 0;
}

.dish-manage-form, .dish-manage-ingredient-list {
    position: absolute;
    top: 0;
}

.dish-manage-form {
    left: 0;
}

.dish-manage-ingredient-list { 
    right: 0;
    width: 40%;
}

.dish-manage-ingredient-list > div { 
    margin-bottom: 20px;
    background: #f3f3f3;
    border-radius: 3px;
    position: relative;
    padding: 8px 12px;
}

.dish-manage-form-field {
    padding-bottom: 40px;
}

.dish-manage-field-input {
    display: block;
}

.dish-manage-form-field label {
    display: block;
    padding: 0 0 8px;
}

.dish-manage-delete-button {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #249;
}

.dish-manage-field-input {
    width: 260px;
}

.dish-manage-field-list {
    width: 260px;
    min-height: 230px;
    font-size: 16px;
}

.dish-manage-field-list option {
    padding: 2px 0 2px 6px;
}

.dish-manage-button {
    width: 260px;
    margin-bottom: 40px;
    display: block;
    text-align: center;
}

.site-error {
    text-align: center;
    padding-top: 30px;
}

.site-error h3 {
    font-size: 20px;
    font-weight: normal;
}

.site-error a {
    margin: 50px auto 0;
    position: relative;
    
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
